.container {
    margin: 80px 13.33% 20px 13.33%;
}

.title {
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 20px 0px 20px 0px;
}

.resume {
    width: 920px;
    height: 1080px;
}

.resumeContainer {
    display: flex;
    justify-content: center;
}