.container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 64px);
    padding: 0 6.67% 0 6.67%;
}

.title {
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    margin: 60px 0 0 0;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 43.33%;
    margin: 10px 3.33% 10px 3.33%;
}

.arrowContainer {
    position: relative;
    cursor: pointer;
    z-index: 10;
}

.arrowLabel {
    display: flex;
    align-items: center;
    position: absolute;
    left: calc(50% - 140px);
    height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #535353;
}

.arrow {
    position: absolute;
    height: 24px;
    width: auto;
    left: 50%;
    color: #0B36DF;
    animation: arrowBounce 5.0s;
    animation-iteration-count: infinite;
}

@keyframes arrowBounce {
    from {
        transform: translateX(0px);
    }
    
    80% {
        transform: translateX(0px);
    }

    90% {
        transform: translateX(6px);
    }
    to {
        transform: translateX(0px);
    }
}

@media screen and (max-width: 720px) {
    .projectsContainer {
        width: 83.33%;
    }
}