.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    height: 64px;
    width: 100vw;
    padding: 0 6.67% 0 6.67%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    z-index: 999;
}

.link {
    text-decoration: none;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: start;
}

.logoImage {
    width: 34px;
    height: 36px;
}

.logoName {
    margin: 10px 20px 10px 20px;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.menuButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 auto; 
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menuButtonBurger {
    width: 24px;
    height: 4px;
    background: black;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.menuButtonBurger::before, .menuButtonBurger::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 4px;
    background: black;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.menuButtonBurger::before {
    transform: translateY(-8px);
}

.menuButtonBurger::after {
    transform: translateY(8px);
}

.menuButton.toggled .menuButtonBurger {
    background: transparent;
}

.menuButton.toggled .menuButtonBurger::before {
    transform: rotate(45deg);
}

.menuButton.toggled .menuButtonBurger::after {
    transform: rotate(-45deg);
}

.menu {
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    width: 100vw;
    padding: 0 6.67% 0 6.67%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    visibility: hidden; 
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: all 0.3s ease-in;
    z-index: 999;
}

.menu.toggled {
    visibility: visible;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.link {
    text-decoration: none;
}

.menuItem {
    position: relative;
    text-align: center;
    font-weight: 700;
    vertical-align: middle;
    font-size: 24px;
    color: black;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 10px 5px 10px 5px;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.menuItem:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #0B36DF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
  }

.menuItem:hover::before {
    visibility: visible;
    transform: scaleX(0.5);
  }

.menuItem.toggled {
    opacity: 1;
}