.link {
    text-decoration: none;
}

.menuItem {
    position: relative;
    text-align: center;
    font-weight: 700;
    vertical-align: middle;
    font-size: 24px;
    color: black;
    line-height: 1.2em;
    text-transform: lowercase;
    margin: 10px 5px 10px 5px;
}

.menuItem:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.8rem;
    bottom: -2px;
    left: 4px;
    border-radius: 0.4rem;
    background-color: rgba(58, 168, 252, 0.3);
    z-index: -1;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
  }

.menuItem:hover::before {
    visibility: visible;
    transform: scaleX(1);
}