.hello-container {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    max-width: 640px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.intro * {
    font-family: 'Raleway', sans-serif;
}

#hi {
    font-size: 2.0rem;
    font-weight: 500;
}

#name {
    font-size: 4.0rem;
    font-weight: bold;
}

#description {
    margin-top: 0.5rem;
    font-size: 1.33rem;
    font-weight: 300;
    color: rgba(0,79,235,1);
}

.icons {
    display: flex;
    margin-top: 1.67rem;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.icons a {
    width: 64px;
}

#github img {
    height: 2.0em;
}

#linkedin img {
    height: 2.0em;
}

#email img {
    height: 2.0em;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

#down img {
    height: 2.0em;
}