.hello-container {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-container {
    max-width: 640px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#hi {
    font-size: 4.0rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

#name {
    color: rgba(0,21,184,1);
}

#description {
    margin-top: 0.20rem;
    font-size: 1.33rem;
    font-weight: 300;
}

.icons {
    display: flex;
    width: 200px;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    background-color: #cfd9ff;
    margin-top: 1.67rem;
    box-shadow: 3px 3px 5px #777777;
    justify-content: space-between;
    align-items: center;
}

.icons .fa-github, .icons .fa-linkedin-in, .icons .fa-envelope {
    font-size: 2rem;
}

.icons .fa-github:hover, .icons .fa-linkedin-in:hover, .icons .fa-envelope:hover {
    color: #4c34eb;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

#down img {
    height: 2.0em;
}

@media screen and (max-width: 768px) {
    .intro-container {
        width: 66.666667%
    }

    #hi, #name {
        font-size: 2.0rem;
    }

    #description {
        font-size: 1.0rem;
    }

    .icons {
        display: flex;
        width: 150px;
        padding: 10px 20px 10px 20px;
        border-radius: 30px;
        background-color: #cfd9ff;
        margin-top: 1.67rem;
        box-shadow: 3px 3px 5px #777777;
        justify-content: space-between;
        align-items: center;
    }

    .icons .fa-github, .icons .fa-linkedin-in, .icons .fa-envelope {
        font-size: 1.5rem;
    }
}