.project-container-with-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(#FFFFFF,#FFFFFF) padding-box, linear-gradient(45deg, rgba(107,84,255, 1),rgba(56, 73, 255, 1)) border-box;
    border: 4px solid transparent;
    box-shadow: 4px 4px 5px 0px #777777;
    position: relative;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

.project-container-with-info:hover {
    margin-top: -1%;
    margin-left: -1%;
    height: 102%;
    width: 102%;
    padding: 1% 1% 1% 1%;
    transition: all 0.2s ease-in-out;
}

.project-container-without-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(#FFFFFF,#FFFFFF) padding-box, linear-gradient(45deg, rgba(107,84,255, 1),rgba(56, 73, 255, 1)) border-box;
    border: 4px solid transparent;
    box-shadow: 4px 4px 5px 0px #777777;
    position: relative;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

.project-container-without-info:hover {
    margin-top: -1%;
    margin-left: -1%;
    height: 102%;
    width: 102%;
    padding: 1% 1% 1% 1%;
    transition: all 0.2s ease-in-out;
}

.project-link {
    text-decoration: none;
}

.project-container-with-info .project-image {
    margin-top: 10px;
    max-width: 100%;
    max-height: 200px;
}

.project-container-without-info .project-image {
    margin-top: 10px;
    max-width: 100%;
    max-height: 150px;
}

.project-title {
    align-self: flex-start;
    display: block;
    margin-left: 8.333333%;
    margin-right: 8.333333%;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

hr {
    color: #222222;
    border-width: 0.5px;
    margin-top: 0.33rem;
    margin-bottom: 0.33rem;
    width: 83.333333%;
    margin-left: 8.333333%;
    margin-right: 8.333333%;
}

.project-labels-container {
    display: flex;
    flex-direction: row;
    width: 83.333333%;
    margin-left: 8.333333%;
    margin-right: 8.333333%;
    justify-content: flex-start;
}

.project-label {
    background: #6b54ff;
    padding: 3px 5px 3px 5px;
    margin-right: 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
    color: #FFFFFF;
    border-radius: 5px;
}

.project-description {
    margin-top: 10px;
    margin-left: 8.333333%;
    margin-right: 8.333333%;
}