.ResumeSection h1 {
    font-size: 3.0em;
    text-align: center;
    padding: 20px 0 10px 0;
}

.resume-container {
    padding: 10px 0 20px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.ResumeSection iframe {
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(31,163,217,1) 0%, rgba(90,123,237,1) 100%);
    height: calc(100vh - 180px);
    width: 100%;
    max-width: 900px;
}