* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.home-separator {
  height: 5px;
  margin-left: 33.333333%; 
  width: 33.333333%;
  background: linear-gradient(90deg, rgba(181,164,242,1) 0%, rgba(31,163,217,1) 100%);
  background-size: 6000% 100%;
  animation: gradient-animate 4s ease infinite;
}

@keyframes gradient-animate {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}