.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 100px 13.33% 100px 13.33%;
    padding: 50px 0px 50px 0px;
    width: calc(100vw - 26.66%);
}

.introContainer {
    display: flex;
    flex-direction: column;
}

.hello {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 5px;
}

.name {
    font-weight: 600;
    color: #0020b1;
}

.description {
    font-size: 18px;
    font-weight: 400;
    color: #898989;
}